
.parallax-hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0;
    margin-bottom: 20px;
    min-height: 125vh; 
    border-radius: 8px;
    display: flex;
    align-items: center; /* Vertically center the content wrapper */
    justify-content: center; /* Horizontally center the content wrapper */
}

.hero-text-overlay {
    background-color: rgba(255, 255, 255, 0.75); /* Semi-transparent white background */
    padding: 40px 60px;
    border-radius: 8px; /* Slightly rounded corners */
    max-width: 85%;
    padding: 30px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  /*slight shadow behind the box */
}


.content-section {
    background-color: rgb(174, 236, 247); 
    padding: 60px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}



.parallax-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    min-height: 100vh; 
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.content-section {
    background-color: white; 
    padding: 50px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}



.content-section p {
    margin-bottom: 1.5em; 
    line-height: 1.5;     
    font-size: 1.05em;    
    color: #495057;   
    margin-left: 10px;
}


.lead-text {
    font-size: 1.45em; 
    color: #343a40;   
    margin-bottom: 40px;
    font-weight: 300;  
}

.paragraph-text {
    font-size: 1.35em; 
    color: #000000;   
    margin-bottom: 40px;
    font-weight: 300;
    margin-left: 7px;  
    margin-right: 13px;
}

.small-text {
    font-size: 1em; 
    color: #6c757d; 
    margin-top: -15px; 
    font-style: italic;
    margin-left: 10px; 
    margin-right: 10px;
}


.content-section h2 {
    font-size: 2em;
    color: #1d6abd8b; 
    border-bottom: 2px solid #e9ecef; 
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}